beautifulsoup4>=4.12
requests>=2.31
pdfminer.six>=20231228
dateparser>=1.2
regex>=2024.5.15
tqdm~=4.67.1
dotenv~=0.9.9
pandas~=2.2.3
PyMuPDF
pillow~=11.0.0
regex
openai~=2.14.0
tqdm
python-dotenv~=1.2.1
pdfminer-six~=20251230
huggingface-hub~=0.29.2